#tasklist-card{
    margin-bottom: .7rem;
}

#tasklist-cardcontent {
    display: flex;
    justify-content: space-between;
}

.tasklist-task {
    color: #000;
}

.tasklist-buttons {
    align-items: center;
    justify-content: center;
    display: flex;
}

#button-edit {
    margin-right: .5rem;
}